// Importa las variables correctamente
@use './variables' as variables;

// Estilos generales para el header
.header-top {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr; // Logo a la izquierda, enlaces en el centro, botón a la derecha
  align-items: center;
  justify-items: center;
  background-color: variables.$purple-medium; // Fondo morado
  padding: 1rem;
  color: variables.$white; // Blanco

  .logo {
    img {
      max-width: 100%;
      height: auto;
      border-radius: variables.$border-radius-logo; // Bordes redondeados
    }
  }

  .nav-links {
    display: flex;
    justify-content: center;
    gap: 2rem;

    .nav-link {
      color: variables.$white;
      font-size: variables.$font-size-p-lg; // Tamaño de párrafo grande
      font-family: variables.$font-family-sans;
      text-decoration: none;
      transition: color 0.3s ease;
    }
  }

  .user-btn {
    background-color: variables.$blue-medium;
    color: variables.$white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: variables.$gray-medium; // Border-radius
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    font-family: variables.$font-family-sans;
    font-size: variables.$font-size-p-md; // Tamaño de párrafo mediano
    transition: background-color 0.3s ease;

    &:hover {
      background-color: variables.$blue-light; // Cambio de color al pasar el ratón
    }

    .user-icon {
      width: variables.$user-icon-size; // Tamaño del icono
      height: variables.$user-icon-size;
    }
  }
}


// Media queries para la responsividad

@media (max-width: 768px) {
  .header-top {
    grid-template-columns: 1fr 1fr; // Ajuste para tablet: logo a la izquierda, botón y enlaces apilados
    gap: 1rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 1rem;
  }

  .user-btn {
    padding: 0.4rem 0.8rem;
    font-size: variables.$font-size-p-sm; // Tamaño de fuente más pequeño en móviles
  }
}

@media (max-width: 480px) {
  .header-top {
    grid-template-columns: 1fr; // En móviles muy pequeños, todos los elementos se apilan
    gap: 0.5rem;
  }

  .nav-links {
    gap: 0.5rem;
  }

  .user-btn {
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: variables.$font-size-p-sm;
  }
}
