//**(Colores básicos)**
$black: #000000;
$white: #ffffff;

//**(Gama de grises)**
$gray-lightest: #F1F1F1;
$gray-light: #D3D3D3;
$gray-medium: #B0B0B0;
$gray: #888888;
$gray-dark: #555555;
$gray-darker: #333333;
$gray-darkest: #1A1A1A;

//**(Gama de azules)**
$blue-lightest: #A3D8FF;
$blue-light: #70B8FF;
$blue-medium: #3E96FF;
$blue: #007BFF;
$blue-dark: #0056B3;
$blue-darker: #003A7A;
$blue-darkest: #002356;

//**(Gama de morados)**
$purple-lightest: #E1B7FF;
$purple-light: #B080F2;
$purple-medium: #9A4DFF;
$purple: #7A1CFF;
$purple-dark: #5E00CC;
$purple-darker: #3E0099;
$purple-darkest: #2C0066;

//**(Colores auxiliares)**
$success: #28A745;
$warning: #FFC107;
$danger: #DC3545;

//________________________________________________________________________________________________//

//**Títulos**
$font-size-h1: 3rem;
$font-weight-h1: 700;
$line-height-h1: 1.2;

$font-size-h2: 2.5rem;
$font-weight-h2: 700;
$line-height-h2: 1.3;

$font-size-h3: 2rem;
$font-weight-h3: 600;
$line-height-h3: 1.4;

//**Párrafos**
$font-size-p-lg: 1.125rem; 
$font-weight-p-lg: 400;
$line-height-p-lg: 1.6;

$font-size-p-md: 1rem; 
$font-weight-p-md: 400;
$line-height-p-md: 1.5;

$font-size-p-sm: 0.875rem; 
$font-weight-p-sm: 400;
$line-height-p-sm: 1.4;

//________________________________________________________________________________________________//

// Fuente Serif
$font-family-serif: 'Merriweather', serif;

// Fuente Sans-serif
$font-family-sans: 'Roboto', sans-serif;

//________________________________________________________________________________________________//

//Tamaños
$user-icon-size: 1.2rem;
$border-radius-logo: 10px;