@use "variables" as *;

// Mixins para centrado
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

// Mixins para responsividad
@mixin respond-to($breakpoint) {
    @if $breakpoint == sm {
        @media (max-width: $breakpoint-sm) {
            @content;
        }
    } @else if $breakpoint == md {
        @media (max-width: $breakpoint-md) {
            @content;
        }
    } @else if $breakpoint == lg {
        @media (max-width: $breakpoint-lg) {
            @content;
        }
    }
}

// Mixin para la card
@mixin card-style($bg-color, $border-radius, $shadow) {
    background-color: $bg-color;
    border-radius: $border-radius;
    box-shadow: $shadow;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  
    .card-img {
      width: 100%; /* Asegura que las imágenes ocupen todo el ancho de la card */
      height: auto;
      border-radius: $border-radius; // Redondear las esquinas de la imagen
    }
  
    .card-body {
      padding: 15px 0;
  
      p {
        font-size: $font-size-p-md;
        line-height: 1.5;
      }
  
      .cta-button {
        margin-top: 15px;
        background-color: $blue-medium;
        color: $white;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
        font-family: $font-family-sans;
        font-size: $font-size-p-sm;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: $blue-light;
        }
      }
    }
  }
  